
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Sistemas</label>
					</li>
					<li class="nav-item">
					    <a href="/geral/listServidor" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-user"></i></span><span class="pcoded-mtext">Servidor</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Pedagógico</label>
					</li>
					<li class="nav-item">
					    <a href="/pedagogico/listAluno" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-user"></i></span><span class="pcoded-mtext">Alunos</span></a>
					</li>
					<li class="nav-item">
					    <a href="/pedagogico/listCurso" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-package"></i></span><span class="pcoded-mtext">Cursos</span></a>
					</li>
					<li class="nav-item">
					    <a href="/pedagogico/listTipoOcorrencia" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fas fa-bars"></i></span><span class="pcoded-mtext">Tipos de Atendimentos</span></a>
					</li>
					<li class="nav-item">
					    <a href="/pedagogico/listUnidadeCurricular" class="nav-link ">
                            <span class="pcoded-micon">
								<i class="fa fa-atlas" aria-hidden="true"></i>
                                </span><span class="pcoded-mtext">Unidades Currilares</span></a>
					</li>
					<li class="nav-item">
					    <a href="/pedagogico/listTurma" class="nav-link ">
                            <span class="pcoded-micon">
								<i class="fa fa-users" aria-hidden="true"></i>
                                </span><span class="pcoded-mtext">Turmas</span></a>
					</li>
					<li class="nav-item">
					    <a href="/pedagogico/importarDados" class="nav-link ">
                            <span class="pcoded-micon">
								<i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                                </span><span class="pcoded-mtext">Importação SIGAA</span></a>
					</li>
					<li class="nav-item">
					    <a href="/pedagogico/acompanhamentoPedagogico" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fa fa-book" aria-hidden="true"></i></span><span class="pcoded-mtext">Acompanhamento Pedagógico</span></a>
					</li>
					<li class="nav-item">
                        <a href="{% url 'pedagogico:listagemConselhos' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
                            <span class="pcoded-mtext">Conselhos de Classe</span>
                        </a>
                    </li>
					<!--li class="nav-item pcoded-menu-caption">
						<label>Gerenciamento de Registros</label>
					</li>
					<li class="nav-item">
					    <a href="/ged/listLocal" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fa fa-building" aria-hidden="true"></i></span><span class="pcoded-mtext">Locais</span></a>
					</li>
					<li class="nav-item">
					    <a href="/geral/listGrupoTrabalho" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-users"></i></span><span class="pcoded-mtext">Grupos de Trabalho</span></a>
					</li>
					<li class="nav-item">
					    <a href="/ged/listGTRegistros" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fas fa-folder-open"></i></span><span class="pcoded-mtext">Registros</span></a>
					</li-->
				</ul>			
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
