
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Gerenciamento de Registros</label>
					</li>
					<li class="nav-item">
					    <a href="/ged/listLocal" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fa fa-building" aria-hidden="true"></i></span><span class="pcoded-mtext">Locais</span></a>
					</li>
					<li class="nav-item">
					    <a href="/geral/listGrupoTrabalho" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-users"></i></span><span class="pcoded-mtext">Grupos de Trabalho</span></a>
					</li>
					<li class="nav-item">
					    <a href="/ged/listGTRegistros" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="fas fa-folder-open"></i></span><span class="pcoded-mtext">Registros</span></a>
					</li>
				</ul>			
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
