{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Listagem de Alunos</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Alunos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de Alunos</h5>
                        </div>
                        <div class="card-header">
                            <form method="GET">
                                <div class="input-group-prepend">
                                    <input type="text" class="form-control" placeholder="" name="search" id="search" width="150">&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-primary" type="submit" id="button-addon1"><i class="feather mr-2 icon-search"></i>Buscar</button>&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-secondary" style="width: 250px;" id="addAluno"><i class="feather mr-2 icon-plus"></i>Adicionar</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>Telefone</th>
                                            <th>Matricula</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Fazendo LOOP para buscar os servidores -->
                                        {% for pessoa in lista %}
                                            <tr>
                                                <td><a href="{% url 'pedagogico:updateAluno' pessoa.id %}"><i class="feather icon-edit"></i></a>
                                                    <a href="{% url 'pedagogico:addMatricula' pessoa.id %}"><i class="fa fa-address-card" aria-hidden="true"></i></a>
                                                </td>
                                                <td>{{ pessoa.nome }}</td>
                                                <td>{{ pessoa.email }}</td>
                                                <td>{{ pessoa.telefone }}</td>
                                                <td>{{ pessoa.matricula }}</td>
                                            </tr>
                                        {% empty %}
                                            <li>Sem itens na lista.</li>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% include 'layouts/paginacao.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ stiped-table ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$("#addAluno").click(function()
{
    document.location.href = "/pedagogico/addAluno";
});
</script>
{% endblock javascripts %}
