{% extends "layouts/base.html" %}

{% load bootstrap %}

{% block title %}{% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Editar Parecer</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/pedagogico/acompanhamentoPedagogico">Acompanhamento Pedagógico</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'pedagogico:listAcompanhamentoPedagogico' parecer.aluno.id %}">Acompanhamento</a></li>
                            <li class="breadcrumb-item"><a href="#!">Editar Parecer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="container">            
            <!-- [ stiped-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Editar {{parecer.aluno.nome}}</h4>
                        <hr>
                        <form action="{% url 'pedagogico:updateParecerAluno' parecer.id %}" method="POST">
                            {% csrf_token %}
                            {{ form|bootstrap }}
                            <input type="submit" class="btn btn-primary" value="Salvar">
                        </form>
                    </div>
                </div>
            </div>
            <!-- [ stiped-table ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
<!-- [ Main Content ] end -->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock javascripts %}